
body
{
    background-color:antiquewhite;
}

#joker
{
  width: 15%;
  height: 25%;
  margin-left: 60px
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -400px;
    width: 50%;
    height: 75%;
}

#gros_michel
{
  width: 15%;
  height: 25%;
  margin-left:  1265px;
}

h1
{
    font-size: 7vw;
    color:darkred;
    text-align: center;
    text-decoration: underline;
  
}
h2
{
    font-size:90px;
    color:darkred;
    text-align: center;
    text-decoration: underline;

}


p
{
    font-size:30px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    margin-top: -90px;
    text-decoration:dashed;
}
