h1 
{
    font-size: 6vw;
    color:#f8f4ee;
    text-align: center;
    
   
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 75%;
}

body
{
  background-color:#7c7a6e;
}
